{% extends "base.html" %}
{% block title %}Lista de Casos{% endblock %}
{% block content %}
<h1>Vista Casos</h1>
{% if casos %}
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Nro Caso</th>
            <th>Fecha Inicio</th>
            <th>Fecha Finalización</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Apelaciones</th>
            <th>Tipo de Caso</th>
            <th>Prioridad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for caso in casos %}
        <tr>
            <td>{{ caso.nro_caso }}</td>
            <td>{{ caso.fecha_inicio }}</td>
            <td>{{ caso.fecha_finalizacion }}</td>
            <td>{{ caso.estado }}</td>
            <td>{{ caso.descripcion }}</td>
            <td>{{ caso.apelaciones }}</td>
            <td>{{ caso.tipo_de_caso }}</td>
            <td>{{ caso.prioridad }}</td>
            <td>
                <a href="{% url 'eliminar_caso' caso.id %}">
                    <button>Eliminar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No hay casos registrados.</p>
{% endif %}

<br>

<a href="{% url 'casos' %}">
    <button>Crear Caso</button>
</a>
<a href="{% url 'vista_expediente' %}">
    <button>Ver Expediente</button>
</a>
{% endblock %}